<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<center>
    <h2>欢迎登录</h2>

    <form action="/login/" method="post">
        {% csrf_token %}
        <p><label for="u">用户名:</label><input type="text" name="username" id="u"/></p>
        <p><label for="p">密&emsp;码:</label><input type="password" name="password" id="p"/></p>
        <p><input type="submit" value="登录"/></p>

    </form>
</center>

<h3><a href="{% url 'App:home' %}">返回主页</a> </h3>

</body>
</html>